#container-page {margin: 0 auto; width: 100%; text-align: left; background: #1761A2;}
#container-head-outer {}
#container-head-inner {}

#container-content {background: white; width: 90%; margin: 0 auto; border-right: 1px solid; border-left: 1px solid;}

#container-foot-outer {}
#container-foot-inner {}
