div.form-select {clear:both; margin-left: auto; margin-right: 20px;display:inline;}
div.form-select td {padding-right:10px;}
div.form-select select {background:#fafafa;}

div.form-button {clear:both; margin-left: auto; margin-right: 40px;display:inline;}